[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/ctrlsf.vim"]
	path = .vim/bundle/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tabline.vim"]
	path = .vim/bundle/tabline.vim
	url = git://github.com/mkitt/tabline.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-rspec"]
	path = .vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule ".vim/bundle/vimux"]
	path = .vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
